/**
Thanks to ICOMOON 
http://icomoon.io
 */
@font-face {
	font-family: 'WolfjPlayer';
	src:url('../../fonts/icomoon.eot');
	src:url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/icomoon.svg#icomoon') format('svg'),
		url('../../fonts/icomoon.woff') format('woff'),
		url('../../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.wolf-jplayer-icon{
	font-family: 'WolfjPlayer';
	speak: none;
	font-style: normal;
	text-decoration: none!important;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}


.wolf-jplayer-playlist {

	.wolf-jp-overlay{
		
		#wolf-jplayer-facebook-button{
			@extend .wolf-jplayer-icon;
			font-size: 24px;
			color:#3b5997;
			margin: 0 2px;
			
			&:before{
				content: "\e019";
			}
		}

		#wolf-jplayer-twitter-button{
			@extend .wolf-jplayer-icon;
			font-size: 24px;
			color:#41b7d8;
			margin: 0 2px;
			
			&:before{
				content: "\e01a";
			}
		}
	}

	div.jp-audio {

		.jp-repeat, .jp-repeat-off, .jp-shuffle, .jp-shuffle-off, .wolf-jp-share-icon, .wolf-jp-popup{
			@extend .wolf-jplayer-icon;
			position: absolute;
			z-index:10;
			width: 16px;
			height: 16px;
			font-size: 16px;
			top: 10px;
			
			@include opacity(0.6);
			
			&:hover{
				@include opacity(1);
			}
		}

		.jp-repeat-off ,.jp-shuffle-off{
			@include opacity(1);
		}
		
		.wolf-jp-share-icon{
			display:block;
			cursor: pointer;
			top:35px;
			right:10px;
			font-size: 14px;
			
			&:before{
				content: "\e00f";
			}
			
		}

		.jp-repeat, .jp-repeat-off{	
			right:56px;
			&:before{
				content: "\e011";
			}
		}

		.jp-shuffle, .jp-shuffle-off{
			right:34px;
			
			&:before{
				content: "\e010";
			}

		}
		.wolf-jp-popup {
			display:inline-block;
			position: absolute;
			z-index:10;
			margin:0; 
			padding:0;
			right: 10px;
			font-size: 14px;

			&:before{
				content: "\e013";
			}
		}


	}
	
	.wolf-jp-song-url{

		.itunes, .amazon, .buy, .free-dl{
			@extend .wolf-jplayer-icon;
			position: relative;
			display: inline-block;
			width: 16px;
			height: 16px;
			vertical-align: middle;
			margin-top: -2px;
			margin-left:4px;
			
			font-size: 16px;
			//color: #FFF;
			
		}

		.itunes{

			margin-top: -6px;
			
			&:before{
				content: "\e001";
			}
		}

		.amazon:before{
			content: "\e000";
		}

		.buy:before{
			content: "\e002";
		}

		.free-dl:before{
			content: "\e018";
		}
	}


	div.jp-type-playlist{
		
		
		.jp-controls li a {
			outline: none;
		}


		.jp-play, .jp-pause, .jp-previous, .jp-next{
			@extend .wolf-jplayer-icon;
			
			position: absolute;
			
			@include transition(0.2s);
			&:hover{
				@include opacity(0.8);
			}
		}


		.jp-play {
			width: 64px;
			height: 64px;
			font-size: 64px;
			top: 55px;
			left: 146px;

			&:before{
				content: "\e008";
			}

		}

		.jp-pause {
			font-size: 48px;
			width: 48px;
			height: 48px;
			top: 65px;
			left: 152px;

			&:before{
				content: "\e009";
			}

		}

		.jp-previous, .jp-next{
			@extend .wolf-jplayer-icon;
			width: 42px;
			height: 42px;
			font-size: 42px;
			top: 67px;
			
			&:active{
				top: 68px;
			}
		}

		.jp-previous{
			top: 68px;
			left: 100px;
			
			&:before{
				content: "\e00b";
			}
		}	

		.jp-next{
			left: 205px;
			&:before{
				content: "\e00c";
			}
		}	

	}

	div.jp-interface ul.jp-controls{


		a.jp-mute, a.jp-unmute, a.jp-volume-max{
			@extend .wolf-jplayer-icon;
			position: absolute;
			font-size: 16px;
			left: 255px;
			top:81px;
			@include opacity(0.8);

			&:hover{
				@include opacity(1);
			}
		}


		a.jp-mute{
			
			&:before{
				content: "\e007";
			}
		}

		a.jp-unmute{

			&:before{
				content: "\e003";
			}
		}

		a.jp-volume-max{
 			left: 390px;

			&:before{
				content: "\e005";
			}
			
		}

	}


	&.wolf-jplayer-small-controls{

		.wolf-volume{
			display: none!important;
		}


		div.jp-type-playlist{
		
			.jp-play {
				width: 48px;
				height: 48px;
				font-size: 48px;
				top: 62px;
				left: 135px;

			}

			.jp-pause {
				font-size: 32px;
				width: 32px;
				height: 32px;
				top: 71px;
				left: 141px;

			}

			.jp-previous, .jp-next{
				width: 38px;
				height: 38px;
				font-size: 38px;
				top: 67px;
				&:active{
					top: 68px;
				}
			}

			.jp-previous{
				top: 68px;
				left: 95px;
			}	

			.jp-next{
				left: 177px;
			}	

		}


	}

	&.wolf-jplayer-very-small-controls{

		.jp-progress,
		.jp-current-time,
		.jp-duration,
		.jp-previous{
			display: none!important;
		}


		div.jp-type-playlist{
		
			.jp-play {
				
				left: 100px;
				top: 78px;

			}

			.jp-pause {
				
				left: 106px;
				top: 87px;

			}


			.jp-next{
				left: 142px;
				top: 83px;
			}	

		}


	}
}


.wolf-jplayer-spinner:before {
	content: "\e600";
}
.wolf-jplayer-spinner2:before {
	content: "\e601";
}
.wolf-jplayer-spinner3:before {
	content: "\e602";
}
.wolf-jplayer-spinner4:before {
	content: "\e603";
}

.spin {
  display: inline-block;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  -webkit-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}